@model IEnumerable<QuizMvc.Models.Quiz>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <title>Take Quiz</title>
  <link rel="stylesheet" href="styles.css"> <!-- might add style section into separate sheet -->
</head>

<body>
  
  <div class="container-fluid">
  <div class="row">


 <!-- main content-->
 <main class="col-sm-9" style="padding: 40px; background-color: white;"
    <h1>All Quizzes</h1>
    <div class="form-group">
      <label for="quizSearch">Search Quizzes</label>
      <input type="text" id="quizSearch" class="form-control" placeholder="Search quiz.." onkeyup="filterQuizzes()" />
    </div>
 
    <div class="row" id="quizGrid">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default quiz-box" style="background-color: violet; cursor: pointer; onclick="location.href='Flag.cshtml'">
        <div class="panel body">
        <h4 class="quiz-title">Name the Country Flags</h4>
        <p class="quiz-description text-muted">How many countries flags do you know?</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default quiz-box" style="background-color: violet; cursor: pointer; onclick="location.href='Flag.cshtml'">
        <div class="panel body">
        <h4 class="quiz-title">Random Science</h4>
        <p class="quiz-description text-muted">A quiz on various scientific facts.</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default quiz-box" style="background-color: violet; cursor: pointer; onclick="location.href='Flag.cshtml'">
        <div class="panel body">
        <h4 class="quiz-title">World War II</h4>
        <p class="quiz-description text-muted">Events of the second world war</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default quiz-box" style="background-color: violet; cursor: pointer; onclick="location.href='Flag.cshtml'">
        <div class="panel body">
        <h4 class="quiz-title">Disney shows</h4>
        <p class="quiz-description text-muted">Guess the show from iconic scenes and quotes.</p>
        </div>
      </div>
    </div>

   <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-default quiz-box" style="background-color: violet; cursor: pointer; onclick="location.href='Flag.cshtml'">
        <div class="panel body">
        <h4 class="quiz-title">2010s Pop Music</h4>
        <p class="quiz-description text-muted">Identify artists, lyrics, and classic hits.</p>
        </div>
      </div>
    </div>


  
    </div>
  </div>
  </div>
</body>

</html>

