@model IEnumerable<QuizMvc.Models.Quiz>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <title>Take Quiz</title>
  <link rel="stylesheet" href="styles.css"> <!-- might add style section into separate sheet -->
</head>

<body>
  
  <div class="container-fluid">
  <div class="row">


 <!-- main content-->
 <main class="col-sm-9" style="padding: 40px; background-color: white;"
    <h1>All Quizzes</h1>
    <div class="form-group">
      <label for="quizSearch">Search Quizzes</label>
      <input type="text" id="quizSearch" class="form-control" placeholder="Search quiz.." onkeyup="filterQuizzes()" />
    </div>
 
    <div class="row" id="quizGrid">


  
    </div>
  </div>
  </div>
</body>

</html>

