@model List<QuizMvc.ViewModels.ViewQuizzesViewModel>


@{
    ViewData["Title"] = "Available Quizzes";
}

<h2 class="text-center">Available Quizzes</h2>
<hr />

@if (!Model.Any())
{
    <p class="text-center text-muted" style="font-size: 18px; margin-top: 50px;">
        There are no quizzes yet. Please create one!
    </p>
}
else
{
    <div class="row">
        @foreach (var quiz in Model)
        {
            <div class="col-sm-4">
                <div class="panel panel-default">
                    @if (!string.IsNullOrEmpty(quiz.ImageUrl))
                    {
                        <div class="panel-heading" style="padding:0;">
                            <img src="@quiz.ImageUrl" class="img-responsive" style="width:100%; height:180px; object-fit:cover;" />
                        </div>
                    }
                    <div class="panel-body">
                        <h4>@quiz.Title</h4>
                        <a asp-controller="Quiz" asp-action="ViewOneQuiz" asp-route-id="@quiz.QuizId" class="btn btn-primary btn-block">
                            View Quiz
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
